@import "reset.css";
header{
    background-color: #2e373e; color: white;
    width: 100%; padding: 20px 0px 20px 0px; 
    text-align: center; font-size: 20px;
}
section{
    background-color: white;
    height: auto; margin: 10px 40px 0px 40px;
}
a{
    text-decoration: none;
    color: #5c91d0;
}
.p{
    font-size: 13px;
    color: gray;
}
input[type="email"], input[type="password"]
{
    border: groove 1px;
    width: 100%; height: 25px;
    border-radius: 5px;
}
.align_center{
    text-align: center;
}
main{
    width: 320px; height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:  solid 1px;
}
.abc{
    padding: 10px 0px 10px 0px;
}
.facebook{
    background-color: blue;
    text-align: center; color: white;
    width: 45%; height: 25px;
    border: solid blue 1px; margin-right: 7%;
    border-radius: 5px;
}
.google{
    background-color: red;
    text-align: center; color: white;
    width: 45%; height: 25px;
    border: solid red 1px;
    border-radius: 5px;
}
.login{
    color: white; background-color: aqua;
    width: 100%; height: 25px;
    border: solid aqua 1px;
    border-radius: 5px;
}
.forgotpassword{
    padding-bottom: 10px;
}
.or{
    margin:  20px 45% 20px 45%;
    padding: 3px 3px;
    border: groove 1px;
    border-radius: 50%;
}